.mr-n5 {
    margin-right: -4.8rem;
}

.mr-n15 {
    margin-right: -15rem;
}

.footer-pad {
    padding-left: 0%;
    padding-right: 0%;
}

.social-buttons {
    margin-bottom: 0;
    li {
      a {
        font-size: 20px;
        line-height: 50px;
        display: block;
        width: 50px;
        height: 50px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: white;
        border-radius: 100%;
        outline: none;
      }
    }
  }
  