@import "tailwindcss";
@import "../css/navbar.css";
@import "../css/timeline.css";
@import "../css/footer.css";
@import "../css/modal.css";

:root {
    --font-figtree: 'Figtree', sans-serif;
    --font-text: var(--font-figtree);
    --font-header: var(--font-figtree);
}

body {
    font-family: var(--font-figtree);
}

@layer components {
  .table-bordered {
    @apply w-full border-collapse border border-gray-300;
  }
  .table-bordered td, .table-bordered th {
    @apply border border-gray-300 p-2;
  }
}

/* Rest of your existing styles */ 